@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/*Partie header*/
.header {
    background-color:  gray;
    color: #fff;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    
}

.header h1 {
    text-align: center;
    margin: 0;
    font-size: 1.9em;
}


/*Partie barre de navigation*/
.nav-bar {
    display: block;
    text-align: center;
}
.nav-bar  a {
    float: left;
    width: 20%;
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-bar a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.4);
}


/*INDEX.HTML*/
/*Partie section*/
.section-index {
    background-color: lightgray;
    padding: 120px 20px 0 20px;
}
.section-index a {
    color: blue;
    text-decoration: none;
}
.section-index a:hover {
    text-decoration: underline;
}

.section-index p {
    text-align: justify;
}

.vid-index {
    text-align: center;
}

hr {
    margin: 30px 0 11px;
}

/*Alignement titre et images */
.div-h3 {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    
}
.div-h3 h3 {
    text-align: center;
    width: 25%;
}


.div-img {
    display: flex;
    justify-content: space-around;
}
.div-img img {
    border-radius: 30px;
}


/* Partie overlay sur les imgs */
.box_img {
    position: relative;
    width: 259px;
}
.img_it_self {
    display: block;
    width: 100%;
}

.img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.img_overlay:hover {
    opacity: 1;
}

.overlay_title {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
.div-img a {
    text-decoration: none;
    color: #ffffff;
}
.div-img a:hover {
    text-decoration: underline;
}


.section-index h5 { /*Petit titre en dessou des imgs*/
    text-align: center;
    margin: 0;
    padding: 5px 0 30px;
}
/*FIN INDEX.HTML*/


/*Partie footer*/
.footer {
    background-color:  gray;
    color: #fff;
    padding: 20px;
}
.footer p {
    margin: 0;
    text-align: center;
}